1,16,31,46 * * * * curl "http://maps.nyc.gov/geoserver/wfs?request=GetFeature&version=1.1.1&typeName=public:SNW_PLOWED&outputFormat=application/json&LAST_UPDATE=`date +\%s`" | json_pp | grep -Ev '"(id|HOURS_PAST)" :' | tee /home/talos/proj/plows/data.json > /home/talos/proj/plows/`date +\%s`.json && cd /home/talos/proj/plows && git add data.json && git commit -m 'auto update' && git push origin master
